.navbar{
display: flex;
align-items:center;
justify-content:space-between;
margin: 20px 170px;
}
.nav-menu{
display: flex;
align-items: center;
list-style: none;
gap: 60px;
font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
  border: 2px solid white;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
    background: linear-gradient(267deg, #B923E1 0.36%, #DA7C25 102.06%);
    transition: all 0.3s ease-in-out;
}